#main
  .main-wrap
    .container.introduction
      .row#summary
        h1 You're already a success story. #[br] We want to help you write the next chapter.
        p UB is a world-class university. Your success brought you here, and from here, you can go anywhere. Whatever your path looks like, we’re here to help build it. The Office of Student Success and Retention, in collaboration with all divisions of the university, helps students to define their goals and gain the skills needed to be successful at UB and beyond. Dedicated staff if here to assist you with developing the best academic plan while connecting you to helpful resources and providing a climate of continuous support. Wherever you are in your undergraduate career, our expertise will guide you to a greater understanding of yourself and the success you’re aiming for.
      .row#infographics
        .infographic.col-xs-6.col-sm-6.col-md-3.col-lg-3
          .infographic__icon: img(src="img/graphics/good-idea.png")
          .infographic__text Develop a plan and gain important life skills
        .infographic.col-xs-6.col-sm-6.col-md-3.col-lg-3
          .infographic__icon: img(src="img/graphics/book.png")
          .infographic__text Prepare for life after UB
        .infographic.col-xs-6.col-sm-6.col-md-3.col-lg-3
          .infographic__icon: img(src="img/graphics/avatar-group.png")
          .infographic__text Get involved on campus and within the community
        .infographic.col-xs-6.col-sm-6.col-md-3.col-lg-3
          .infographic__icon: img(src="img/graphics/graduation.png")
          .infographic__text Graduate on time with Finish in 4
    #nav-anchor
    .container.grid
      .row#navigation
        .col-md-6.col-sm-6.col-xs-12.first-half
          .row
            include ../_includes/grid-nav-1.pug
            include ../_includes/grid-nav-2.pug
        .col-md-6.col-sm-6.col-xs-12.second-half
          .row
            include ../_includes/grid-nav-3.pug
            include ../_includes/grid-nav-4.pug
      .row.student#student-profile-1
        include ../_includes/grid-student-story-1.pug
      .row.student#student-profile-2
        include ../_includes/grid-student-story-2.pug
      .row.student#student-profile-3
        include ../_includes/grid-student-story-3.pug
