#main
  .main-wrap
    .container.introduction
      .row#summary.fade-elem
        h3 You're already a success story. #[br] We want to help you write the next chapter.
        p UB is a world-class university. Your success brought you here, and from here, #[span.highlight you can go anywhere]. Whatever your path looks like, we’re here to help build it. The Office of Student Success and Retention, in collaboration with all divisions of the university, helps students to define their goals and gain the skills needed to be #[span.highlight successful at UB and beyond]. Dedicated staff is here to assist you with developing the best academic plan while connecting you to helpful resources and providing a climate of continuous support. Wherever you are in your undergraduate career, our expertise will guide you to a #[span.highlight greater understanding of yourself] and the success you’re aiming for.
      .row#infographics.fade-elem
        .infographic.col-xs-6.col-sm-6.col-md-3.col-lg-3
          .infographic__icon: img(src="img/graphics/good-idea-blue.png")
          .infographic__text Develop a plan and gain important life skills
        .infographic.col-xs-6.col-sm-6.col-md-3.col-lg-3
          .infographic__icon: img(src="img/graphics/avatar-group-blue.png")
          .infographic__text Get involved on campus and within the community
        .infographic.col-xs-6.col-sm-6.col-md-3.col-lg-3
          .infographic__icon: img(src="img/graphics/book-blue.png")
          .infographic__text Graduate on time with #[br ] Finish in 4
        .infographic.col-xs-6.col-sm-6.col-md-3.col-lg-3
          .infographic__icon: img(src="img/graphics/degree-blue.png")
          .infographic__text Prepare for life after UB
    .container.grid
      .row#navigation
        .col-md-6.col-sm-6.col-xs-12.first-half
          .row
            include ../_includes/grid-nav-1.pug
            include ../_includes/grid-nav-2.pug
        .col-md-6.col-sm-6.col-xs-12.second-half
          .row
            include ../_includes/grid-nav-3.pug
            include ../_includes/grid-nav-4.pug
      .row#section-heading
        .box.col-xs-12.col-sm-12.col-md-12.col-lg-12
          .inner Current students are some of the best sources of support and mentorship. Like you, these students have seized opportunities and overcome challenges.
          #here-button
            svg(height="60" width="320" xmlns="http://www.w3.org/2000/svg")
              rect.shape(height="60" width="320")
              .text Here are their stories at UB.

      .row.student#student-profile-1
        include ../_includes/grid-student-story-1.pug
      .row.student#student-profile-2
        include ../_includes/grid-student-story-2.pug
      .row.student#student-profile-3
        include ../_includes/grid-student-story-3.pug
      .row#section-ending
        .box.col-xs-12.col-sm-12.col-md-12.col-lg-12
          .inner What will your story be?
