.main
  .container
    .introduction
      .row#summary
        h1 What we do
        p The Office of Student and Retention, in collboration with all divisions of the university, helps students define their goals and gain the skills needed to be successful at UB and beyond. Dedicated staff is here to assist you with developing the best academic plan while connecting you to helpful resources and providing a climate of continuous support. Wherever you are in your undergraduate career, our expertise will guide you to a greater understanding of yourself and the success you're aiming for.
      .row#infographic
        .infographics
          .infographic
            .infographic__icon
            .infographic__text
          .infographic
            .infographic__icon
            .infographic__text
          .infographic
            .infographic__icon
            .infographic__text
          .infographic
            .infographic__icon
            .infographic__text
