footer
  .footer-wrap
    .container
      .row
        .contact-info.col-xs-12.col-sm-12.col-md-6.col-lg-6
          img.unit-lockup(src="img/StudentSuccessRetention-UnitLockup.png")
          .address
            p Office of Student Success
            p 109 Norton Hall, Suite 107
            p Buffalo, NY 14261
          .contact
            p #[i.material-icons phone] 716-645-6013
            p #[i.material-icons mail_outline] #[a(href="mailto:studentsuccess@buffalo.edu") studentsuccess@buffalo.edu]

        .col-xs-12.col-sm-12.col-md-6.col-lg-6.related-links
          .row
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
              h3 Partners in Service
              .link-list
                p #[a(href="http://www.buffalo.edu/uls.html" rel="noopener noreferrer" target="_blank") Student Life]
                p #[a(href="https://www.buffalo.edu/career.html" rel="noopener noreferrer" target="_blank") Career Services]
                p #[a(href="http://academicaffairs.buffalo.edu/units/undergrad/index.php" rel="noopener noreferrer" target="_blank") Undergraduate Education]
                p #[a(href="http://student-affairs.buffalo.edu/nsp/" rel="noopener noreferrer" target="_blank") Orientation, Transition, and Parent Programs]
                p #[a(href="http://advising.buffalo.edu/directory/" rel="noopener noreferrer" target="_blank") Undergraduate Academic Advising]
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
              h3 Related resources
              .link-list
                p #[a(href="http://financialaid.buffalo.edu/" rel="noopener noreferrer" target="_blank") Financial Aid]
                p #[a(href="http://registrar.buffalo.edu/" rel="noopener noreferrer" target="_blank") Registrar]
                p #[a(href="http://studentaccounts.buffalo.edu/" rel="noopener noreferrer" target="_blank") Student Accounts]
      .row
        .legal-notice.col-xs-12.col-sm-12.col-md-12.col-lg-12
          p The University at Buffalo is committed to ensuring equal access to its programs and activities. #[a(href="http://www.buffalo.edu/equity.html" rel="noopener noreferrer" target="_blank") View UB’s entire notice of non-discrimination].
          p ©2017 #[a(href="http://www.buffalo.edu/" rel="noopener noreferrer" target="_blank") University at Buffalo]. All rights reserved. | #[a(href="http://academicaffairs.buffalo.edu/legal/" rel="noopener noreferrer" target="_blank") Legal Notices] | #[a(href="http://academicaffairs.buffalo.edu/legal/accessibility.php" rel="noopener noreferrer" target="_blank") Accessibility Statement]
