.box.staff.col-xs-6.col-sm-3.col-md-3.is-collapsed
  .view
    .view__inner Meet Our Staff
    .view__inner--hovered Get to know us
  .arrow
  .view-expand
    .close
      i.material-icons close
    .view-expand__inner#staff Staff content
