.box.student__heading.col-md-9.col-sm-9.col-xs-9.is-collapsed
  .view
    .view__inner How do you start at the edge of your comfort zone?
    .view__inner--hovered Read Michael's Story
  .arrow
  .view-expand.three-cols
    .close
      i.material-icons close
    .view-expand__inner#student-story-2
      h1 Michael Ryman
      p For Michael Ryman, life starts at the edge of his comfort zone. “It’s where learning begins,” he says. As a history and sociology double major who once intended to be an aerospace engineer, Michael has learned a lot at UB, about both his studies and himself.
      p That includes uncovering a passion for leadership and trying new things, two qualities surprising to someone who had always been known for being extremely shy. Michael credits the amount of opportunities here as the push he needed to break out of his shell. And once he did, he realized there were no limits on what he could do. Studying abroad with SLIDE (Student Leadership International Dialogue and Exchange), serving as an RA for Leadership House, working as a manager in the Student Union, co-founding a social fraternity—Michael has done it all. “I never saw myself being as involved as I am,” he says, “but now I can’t get enough.”
      p It’s a common thread that runs throughout Michael’s time at UB, where his path to self-discovery has continued to evolve with every experience he pursues. At first, though, it took being on the wrong path to discover the right one.
      p Soon after arriving at UB, Michael realized he didn’t want to pursue engineering. Like many students ready to change majors, he didn’t know what would replace it, but he did know he needed to ask for help. Through the support of his mentor and advisors, Michael was reassured that it was OK to make a switch. An aptitude test offered by the Office of Career Services helped him identify subjects that truly interested him. What brought it all together was the breadth of program choices available at UB.
      p Michael knew he had options and that he could change directions without it drastically changing his life. This was especially important as a Finish in 4 student who still had to honor a commitment to graduate in four years. Despite changing his major twice, Michael will still graduate on time—a testament to his work ethic and the support services provided to students through the Office of Student Success. After UB, Michael has his sights set on law school. He continues to find support and encouragement through UB’s Pre-Law Advising services, which help him make sense of a daunting process.
      p Tapping into UB’s resources and community of support was how Michael turned a confusing time into the start of his success. His resiliency and determination helped, too. Now, he views this experience as a learning opportunity, with one major takeaway: “If you work hard, nothing will stop you.”
.box.student__photo.col-md-3.col-sm-3.col-xs-3
  .view
    img.nohover(src="img/students/michael.jpg")
