.box.student__photo.col-md-3.col-sm-3.col-xs-3
  .view--nohover
    img.nohover(src="img/students/anyssa.jpg")
.box.student__heading.col-md-9.col-sm-9.col-xs-9.is-collapsed
  .view
    .view__inner How do you take your desire to teach beyond the boundaries of a classroom?
    .view__inner--hovered Read Anyssa's Story
  .arrow
  .view-expand.three-cols
    .close
      i.material-icons close
    .view-expand__inner#student-story-3
      .quote "You have to be responsible for yourself. You have to recognize what you need to do to be successful."
      h1 Anyssa Evelyn
      p When Anyssa Evelyn was small, a teacher named Mrs. Rock saw something in her she hadn’t yet realized herself: a natural talent for teaching. It probably showed in Anyssa’s aptitude and attentiveness, but it really came through in her genuine caring for others. It was a trait modeled every day by Mrs. Rock, who showed Anyssa how important it is to help people. “Her teaching didn’t stop at school,” Anyssa notes. “She had a huge influence on my life.”
      p The desire to have this same kind of impact is where Anyssa’s story begins. Growing up in single-parent household equipped her with the skills to be independent and self-reliant. In high school, she excelled in math and science and made a habit of pulling straight-A’s—creating a stellar academic record that brought her to UB as an intended occupational therapy major. OT seemed to provide the perfect combination of science and working with people, but something was missing. Anyssa had always known she wanted to work with kids, but she quickly realized she craved deeper relationships with people than what OT could provide. She kept thinking back on advice Mrs. Rock had given her years ago: Use your smarts in the right field.
      p Like many students, Anyssa found herself at a crossroads.
      p UB’s breadth of academic and extracurricular offerings have given her the ability to explore different paths and get involved—really involved. Though just in her sophomore year, Anyssa is an RA, an orientation leader and a teacher at UB’s daycare center, and she even had a brief stint in the marching band. Anyssa says putting herself out there required confidence, insight she shares with incoming students and students on her floor: “You have to be responsible for yourself. You have to recognize what you need to do to be successful.”
      p Anyssa applied that mindset to her studies, too. While still pursuing occupational therapy, she enrolled in an anatomy class that challenged everything she knew about herself. No matter how hard she worked, it was difficult to succeed in the class. Eventually, she realized she had to switch gears. Anyssa shared her concerns with her advisors. They reassured her that she had the freedom to go back to her original plan if she regretted her decision and pointed her toward resources that helped her make a confident transition.
      p Providing this level of support and encouragement is how UB helped Anyssa identify her true purpose. She’s on track to earning a degree in health and human services with a minor in education. When she enters the public health sector upon graduation, Anyssa can pursue social work, adoption services, community outreach—myriad roles that will allow her to be there for people who need help the most. It’s a lesson an important teacher taught her long ago: Not all teachers are found in classrooms.
