.box.about.col-xs-6.col-sm-6.col-md-6.is-collapsed
  .view
    .view__inner About us
    .view__inner--hovered Get to know us.
  .arrow
  .view-expand
    .close
      i.material-icons close
    .view-expand__inner#about
      .sidebar
        ul
          li.active #[a(href="javascript:void(0)" onclick="changeTab(this, 'letter')") Letter from the Director]
          li #[a(href="javascript:void(0)" onclick="changeTab(this, 'staff')") Our Staff]
          li #[a(href="http://sas.buffalo.edu" rel="noopener noreferrer" target="_blank") Student Advising Services #[i.material-icons open_in_new]]
      .content
        .content__inner#letter
          h1 Welcome!
          p The Office of Student Success and Retention supports the university mission of providing a transformative educational experience that promotes the academic and personal success and engagement of all undergraduate students. We believe in a student-centered culture and continuously strive to develop and deliver high quality programs and exceptional resources that help students succeed.
          p As we collaborate with partners across the university, we engage faculty, senior leadership and staff in the spirit of student success and development. By creating a student-focused culture, we help students identify their goals, stay on a path to success, graduate on time and prepare for life after college.
          p We look forward to working with you throughout your UB experience!
          p Sincerely,
          p Cheryl Taplin
          p Director of Student Success & Retention
        .content__inner#staff
          h1 Meet our staff
          .staff
            h3 Cheryl Taplin
            p.staff__title Senior Associate Vice Provost and Director of Student Success and Retention
            p Cheryl Taplin is the senior associate vice provost and director of student success and retention. Her office is responsible for collaborating across campus to develop and implement comprehensive retention services for the promotion of student success leading to graduation.
            p Cheryl has been at the university since 1987. She began as a counselor for the Upward Bound Program; became coordinator of the Collegiate Science & Technology Entry Program (CSTEP); served in various roles in undergraduate academic advisement; and became director of the former Student Academic Records and Financial Services (SARFS) unit before starting her current role in the Office of Student Success and Retention.
            p Cheryl is a member of several organizations, including the Consortium for Student Retention Data Exchange (CSRDE), the Western New York Retention Committee and First-Year Experience. She is a recipient of the SUNY Chancellor’s Award for Excellence in Professional Service. Cheryl earned her bachelor’s degree in social work from Gannon University and her master’s degree in social sciences interdisciplinary with a concentration in public affairs from the University at Buffalo. She is currently working on a doctoral degree in educational leadership and policy with a concentration in higher education.
          .staff
            h3 Lia Hallett
            p.staff__title Assistant Director of Student Success and Retention and Coordinator, Finish in 4
            p Lia Hallett is the assistant director of student success and retention and coordinator for Finish in 4. She oversees outreach and intervention related to the various initiatives that support student success, retention and timely graduation. She also serves as an academic advisor for students exploring and changing majors, and she is involved with educating and training students on the tools and strategies for developing a successful academic plan.
            p In her time at UB, Lia has served in various roles in undergraduate academic advisement. She holds a bachelor’s degree in women’s studies from the University of Rochester. She earned a master’s degree in student personnel administration from Buffalo State College and a master’s degree in higher education from the University of Rochester.
