.box.early-alert.col-xs-6.col-sm-6.col-md-3-6.is-collapsed
  .view
    .view__inner Early Alert
    .view__inner--hovered Stay on track.
    .dropdown
      .dropdown__left
      .dropdown__right
  .arrow
  .view-expand
    .close
      i.material-icons close
    .view-expand__inner#early-alert
      h1 Stay on track.
      p Success in college requires personal responsibility. We know you have it, but we also know that, from time to time, you may need an extra push to succeed. UB’s Early Alert initiative is designed to reach students who may benefit from a little extra guidance.
      p At UB, we want you to assume the controls of your academic career knowing that help and support is here when you need it. Through Early Alert, our proactive outreach and early intervention helps students at risk of falling off track get back on it and begin making progress.
      p Through connecting you to a network of resources, providing thoughtful, solid advice, or identifying opportunities to overcome difficulties, we are ready to support you and keep you on track to academic success.
