.box.about.col-xs-6.col-sm-6.col-md-6.is-collapsed
  .view
    .view__inner About us
    .view__inner--hovered Get to know us.
  .arrow
  .view-expand
    .close
      i.material-icons close
    .view-expand__inner#about
      h1 Letter from the Director
      p Welcome!
      p The Office of Student Success and Retention supports the university mission of providing a transformative educational experience that promotes the academic and personal success and engagement of all undergraduate students. We believe in a student-centered culture and continuously strive to develop and deliver high quality programs and exceptional resources that help students succeed.
      p As we collaborate with partners across the university, we engage faculty, senior leadership and staff in the spirit of student success and development. By creating a student-focused culture, we help students identify their goals, stay on a path to success, and graduate on time.
      p We look forward to working with you throughout your UB experience!
      p Sincerely,
      p Cheryl Taplin
      p Director of Student Success & Retention
