.box.staff.col-xs-6.col-sm-6.col-md-3-6.is-collapsed
  .view
    .view__inner Early Alert
    .view__inner--hovered Get to know us
  .arrow
  .view-expand
    .close
      i.material-icons close
    .view-expand__inner#staff Staff content
