.box.student__photo.col-md-3.col-sm-3.col-xs-3
  .view--nohover
    img.nohover(src="img/students/franz.jpg")#ssbr
.box.student__heading.col-md-9.col-sm-9.col-xs-9.is-collapsed
  .view
    .view__inner How do you turn opportunities to lead into opportunities to learn?
    .view__inner--hovered Read Franz's Story

  .arrow
  .view-expand.three-cols
    .close
      i.material-icons close
    .view-expand__inner#student-story-1
      .quote "When you believe in yourself and be resilient, you can get through anything."
      h1 Franz DeLeon
      p Just three years ago, the future as Franz De Leon saw it involved a seat at his first-choice university and a journey abroad with the Peace Corps. So when a letter from his top school sent bad news, Franz had to face something he hadn’t planned on: rejection. “It was hard,” he remembers, “but looking back it seems like it was meant to be.”
      p Happily, Franz ended up at UB. It took just one day on campus—his first-year orientation—for Franz to realize that UB had been the right place all along. This sense of pride may come from the doors UB has opened for him. Whether it’s showing his love for UB as an Orientation Team Leader or immersing himself in cultural clubs that connect him to his Filipino heritage, Franz has built a unique UB experience by jumping at every opportunity to lead and to learn.
      p Being as involved as Franz is a balancing act with an emphasis on time management. Franz knows this now, but it was a different story freshman year. Getting used to college academics and joining one club after another left Franz feeling overextended. Strong feelings of homesickness only added to his stress.
      p Franz knew he needed help, and he wasn’t afraid to ask for it. Franz utilized UB’s extensive network of resources to get back on track. Like many students in need of support, meeting with his advisor was an important step. UB’s advisors are full of knowledge and connections, and they connected Franz to the university’s network of support. Franz notes, though, that it’s really up to the student to put the resources to use: “[Advisors] can connect you with everything you need at UB and will make connections for you, but what you do with that information is your own personal responsibility.”
      p Franz readily shares this advice with the hundreds of new students he leads during orientation. It’s how he uses his own learning experiences to help others at UB. Armed with time management skills and the support provided by the university, Franz is ready to tackle his third year of a rigorous nursing program, which will allow him to help others once he graduates. As for what’s to come after UB, Franz is keeping an open mind. But one thing is certain: “When you believe in yourself and be resilient, you can get through anything.”
