.box.about.col-xs-6.col-sm-6.col-md-6.is-collapsed
  .view#dynamic-height-for-grid
    .view__inner Steps to Success
    .view__inner--hovered Read the letter from the director
  .arrow
  .view-expand
    .close
      i.material-icons close
    .view-expand__inner#about
      h1 Letter from the director
      p.
        Nullam id interdum tellus. Suspendisse in velit ac augue lacinia fringilla ut sed nibh. Praesent pharetra magna ante, eu scelerisque risus laoreet ac. Proin egestas ac enim vel efficitur. Nullam porta laoreet felis eu ornare. Morbi sollicitudin nunc eget sagittis dignissim. Sed venenatis tincidunt eleifend. Nam id erat dapibus, rhoncus justo eu, luctus magna.
      p.
        Nunc sed magna nisi. Donec venenatis sodales risus pulvinar consectetur. Phasellus interdum metus nec accumsan lobortis. Nulla convallis pellentesque lorem, vitae sollicitudin lorem vulputate ac. Donec eget libero neque. Aliquam mattis leo venenatis lobortis maximus. Vestibulum ac laoreet sapien. Cras vel ex faucibus ipsum condimentum egestas. Phasellus nec tortor ligula. Donec vitae ultrices sem, blandit commodo massa. Sed lacinia bibendum sapien cursus ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at commodo dolor. Ut finibus interdum cursus.
      p.
        Maecenas dictum ipsum ipsum, ac dictum sapien ultrices eget. Curabitur at eleifend felis. Donec aliquet mollis magna ut condimentum. Vestibulum in posuere ligula, vel condimentum purus. In eu convallis tortor, vitae sollicitudin nisi. Sed interdum placerat leo, id semper massa ullamcorper eu. Nullam at diam sit amet erat ultrices luctus. Proin maximus neque sit amet sem ultricies, in vehicula neque placerat. Phasellus mattis eget mi sed ullamcorper. Duis eu vulputate sapien. Pellentesque porta aliquam sem sit amet rutrum. Sed a purus lobortis, pretium libero sit amet, egestas risus. Donec dignissim molestie ante cursus volutpat. Aenean rhoncus id elit id imperdiet.
