.box.sas.col-xs-6.col-sm-3.col-md-3.is-collapsed
  .view
    .view__inner Student Advising Services
    .view__inner--hovered Guiding and assisting students who are exploring or changing their major
  .arrow
  .view-expand
    .close
      i.material-icons close
    .view-expand__inner#sas SAS Content
