.box.student__photo.col-md-3.col-sm-3.col-xs-3
  .view
    .view__inner
.box.student__heading.col-md-9.col-sm-9.col-xs-9.is-collapsed
  .view
    .view__inner Here's my story at UB
    .view__inner--hovered Read my sotry
  .arrow
  .view-expand.three-cols
    .close
      i.material-icons close
    .view-expand__inner#student-story-3 Student story 
