.box.about.col-xs-6.col-sm-6.col-md-6.is-collapsed
  .view
    .view__inner About us
    .view__inner--hovered Get to know us.
    .dropdown
      svg.ui-arrow(width="100%" height="40px" viewBox="0 0 145 40" style="enable-background:new 0 0 142.686 52.632;" xml:space="preserve")
        polyline(class="st0" points="16.657,15.35 72.414,40.508 128.17,15.35")
  .arrow
  .view-expand
    .close
      i.material-icons close
    .view-expand__inner#about
      .sidebar
        ul
          li.active #[a(href="javascript:void(0)" onclick="changeTab(this, 'letter')") Letter from the Director]
          li #[a(href="javascript:void(0)" onclick="changeTab(this, 'staff')") Our Staff]
          li #[a(href="http://sas.buffalo.edu" rel="noopener noreferrer" target="_blank") Student Advising Services #[i.material-icons open_in_new]]
      .content
        .content__inner#letter
          h1 Welcome!
          p The Office of Student Success and Retention supports the university mission of providing a transformative educational experience that promotes the academic and personal success and engagement of all undergraduate students. We believe in a student-centered culture and continuously strive to develop and deliver high quality programs and exceptional resources that help students succeed.
          p As we collaborate with partners across the university, we engage faculty, senior leadership and staff in the spirit of student success and development. By creating a student-focused culture, we help students identify their goals, stay on a path to success, graduate on time and prepare for life after college.
          p We look forward to working with you throughout your UB experience!
          p.margintop Sincerely,
          p.nomargin.signature Cheryl Taplin
          p.nomargin Director of Student Success & Retention
        .content__inner#staff
          h1 Meet our staff
          .staff-bios
            .staff.is-collapsed
              .staff-header
                //- .staff__photo: img(src="img/staff/taplin.jpg")
                .staff__desc
                  h3 Cheryl Taplin
                  p.staff__title Senior Associate Vice Provost and Director of Student Success and Retention
              .staff-bio
                p Cheryl Taplin is the senior associate vice provost and director of student success and retention. Her office is responsible for collaborating across campus to develop and implement comprehensive retention services for the promotion of student success leading to graduation.
                p Cheryl has been at the university since 1987. She began as a counselor for the Upward Bound Program; became coordinator of the Collegiate Science & Technology Entry Program (CSTEP); served in various roles in undergraduate academic advisement; and became director of the former Student Academic Records and Financial Services (SARFS) unit before starting her current role in the Office of Student Success and Retention.
                p Cheryl is a member of several organizations, including the Consortium for Student Retention Data Exchange (CSRDE), the Western New York Retention Committee and First-Year Experience. She is a recipient of the SUNY Chancellor’s Award for Excellence in Professional Service. Cheryl earned her bachelor’s degree in social work from Gannon University and her master’s degree in social sciences interdisciplinary with a concentration in public affairs from the University at Buffalo. She is currently working on a doctoral degree in educational leadership and policy with a concentration in higher education.
            .staff.is-collapsed
              .staff-header
                //- .staff__photo
                .staff__desc
                  h3 Lia Hallett
                  p.staff__title Assistant Director of Student Success and Retention and Coordinator, Finish in 4
              .staff-bio
                p Lia Hallett is the assistant director of student success and retention and coordinator for Finish in 4. She oversees outreach and intervention related to the various initiatives that support student success, retention and timely graduation. She also serves as an academic advisor for students exploring and changing majors, and she is involved with educating and training students on the tools and strategies for developing a successful academic plan.
                p In her time at UB, Lia has served in various roles in undergraduate academic advisement. She holds a bachelor’s degree in women’s studies from the University of Rochester. She earned a master’s degree in student personnel administration from Buffalo State College and a master’s degree in higher education from the University of Rochester.
            .staff.is-collapsed
              .staff-header
                //- .staff__photo
                .staff__desc
                  h3 Jacqueline Hollins
                  p.staff__title Assistant Vice Provost and Director of Academic Advising
              .staff-bio
                p Jacqueline Hollins is the assistant vice provost and director of academic advising. She came to the University at Buffalo in 1998 as an academic advisor for underrepresented student populations. Jacqui served as the university’s pre-law advisor, overseeing the development of the Pre-Law Student Services Center, and director of Student Advising Services before assuming her current role as assistant vice provost.
                p Jacqui is actively involved in the community, including Leadership Buffalo’s Class of 2017; the WNY Consortium of Higher Education Academic Leadership Institute; and Oracle Charter School’s Board of Trustees.  She is a recipient of the SUNY Chancellor’s Award for Excellence in Professional Service and also a recipient of the Friends of EOP award. She holds a bachelor’s degree in business administration with a concentration in human resources from the University at Buffalo and a master’s degree in education from Canisius College.
            .staff.is-collapsed
              .staff-header
                //- .staff__photo
                .staff__desc
                  h3 Jessica Julicher
                  p.staff__title Assistant Director of Student Success and Retention
              .staff-bio
                p Jessica Julicher is the assistant director of student success and retention. She is responsible for the early alert system and in her role uses data to help promote, develop and enhance student success initiatives.
                p Jessica joined the university in 2007 as a graduate assistant in the Office of Athletic Academic Advising. Beginning in 2009, she served on the Student Services Transformation Project, which oversaw the implementation of the university’s HUB information system. After two years in an assistant coordinator role for the HUB support team, Jessica joined Student Advising Services to help with tracking and monitoring data for the Finish in 4 initiative. In 2014, she became an assistant director of student success and retention, where she uses her data analysis skills to support universitywide student success initiatives.
                p Jessica holds a bachelor’s degree in sociology and a master’s degree in higher education administration from the University at Buffalo.
