.box.steps-to-success.col-xs-6.col-sm-6.col-md-6.is-collapsed#dynamic-width-for-expand
  .view#dynamic-height-for-grid
    .view__inner Steps to Success
    .view__inner--hovered Maximize your potential.
  .arrow
  .view-expand
    .close
      i.material-icons close
    .view-expand__inner#steps-to-success
      h1 Maximize your potential.
      p Setting goals. Developing a plan. Overcoming challenges. Exploring every opportunity. How do you achieve success at UB? The answer is easy. #[b You are how].
      p We know that every student has a unique definition of success. And that every student has a unique college experience. The Office of Student Success wants you to define what your success looks like. We provide a framework to keep you on track, and you get to fill in the details. It’s how you achieve success—your way.  Visit #[a(href="http://www.advising.buffalo.edu/succeed" rel="noopener noreferrer" target="_blank") Succeeding in College] to learn more.
