.box.finish-in-4.col-xs-6.col-sm-3.col-md-3.is-collapsed
  .view
    .view__inner Finish In 4
    .view__inner--hovered Our commitment to your success
    .arrow
  .view-expand
    .close
      i.material-icons close
    .view-expand__inner#finish-in-4 Finish In 4 Content
