.box.finish-in-4.col-xs-6.col-sm-6.col-md-6.is-collapsed
  .view
    .view__inner Finish in 4
    .view__inner--hovered Graduate on time.
  .arrow
  .view-expand
    .close
      i.material-icons close
    .view-expand__inner#finish-in-4
      h1 Graduate on time.
      p Did you know a majority of students take five or six years to complete a four-year degree? These additional semesters add time—and costs—to an important milestone: being a college graduate.
      p UB is leading the charge to help all students graduate in four years through Finish in 4, our commitment to your timely graduation. Our success is in the numbers: 63 percent of inaugural Finish in 4 students graduated on time, better than the national average of 34 percent.
      p When you take the Finish in 4 pledge, you set a goal and chart a path to reach it. Supporting you with clear curricular plans, resources and guidance is how we help you succeed. Learn more by visiting our #[a(href="http://advising.buffalo.edu/fif/" rel="noopener noreferrer" target="_blank") Finish in 4 website].
