.box.sas.col-xs-6.col-sm-6.col-md-6.is-collapsed
  .view
    .view__inner Finish in 4
    .view__inner--hovered Guiding and assisting students who are exploring or changing their major
  .arrow
  .view-expand
    .close
      i.material-icons close
    .view-expand__inner#sas SAS Content
