header
  .header
    .logo
    .title Student Success &amp; Retention
  .summary
    .summary-text UB is a world-class university. Your success brought you here, and from here, you can go anywhere. Whatever your path looks like, we're here to help build it.
    .summary-photos
      .summary-photo-1
      .summary-photo-2
  .color-accent
    div
    div
    div
    div
  .hero
  .tagline YOUR SUCESS BEGINS #[span &nbsp;Here]
