header
  .header
    .header__logo.fade-elem: img(src="http://www.acsu.buffalo.edu/~zhanhuil/assets/images/ub-logo-big-blue.png")
    .header__title.fade-elem Student Success &amp; Retention
  //- .summary
  //-   .summary__header
  //-     .summary__header__pipe
  //-     .summary__header__text UB is a world-class university. Your success brought you here, and from here, you can go anywhere. Whatever your path looks like, we're here to help build it.
  //-   .summary__photo
  //-     .summary__photo__1
  //-     .summary__photo__2
  .color-accent.fade-elem
    div
    div
    div
    div
  #hero.fade-elem
  .tagline.fade-elem
    img(src="img/YourSuccessBegins.png")
    img(src="img/Here.png")
