header
  .header
    .header__logo: img(src="http://www.acsu.buffalo.edu/~zhanhuil/assets/images/ub-logo-big-blue.png")
    .header__title: img(src="img/StudentSuccessLogo.png")
  //- .summary
  //-   .summary__header
  //-     .summary__header__pipe
  //-     .summary__header__text UB is a world-class university. Your success brought you here, and from here, you can go anywhere. Whatever your path looks like, we're here to help build it.
  //-   .summary__photo
  //-     .summary__photo__1
  //-     .summary__photo__2
  .color-accent
    div
    div
    div
    div
  #hero
  .tagline
    img(src="img/YourSuccessBegins.png")
    img(src="img/Here.png")
