header
  .header
    .header__logo.fade-elem: img(src="http://www.acsu.buffalo.edu/~zhanhuil/assets/images/ub-logo-big-blue.png")
    .header__title.fade-elem Student Success &amp; Retention
  //- .summary
  //-   .summary__header
  //-     .summary__header__pipe
  //-     .summary__header__text UB is a world-class university. Your success brought you here, and from here, you can go anywhere. Whatever your path looks like, we're here to help build it.
  //-   .summary__photo
  //-     .summary__photo__1
  //-     .summary__photo__2
  .color-accent.fade-elem
    div
    div
    div
    div
  #hero.fade-elem
  .tagline.fade-elem
    img(src="img/YourSuccessBegins.png")
    img(src="img/Here.png")
  //- #arrow.fade-elem
  //-   .left
  //-   .right
  #arrow.fade-elem
    svg.ui-arrow(width="100%" height="52px" viewBox="0 0 145 52" style="enable-background:new 0 0 142.686 52.632;" xml:space="preserve")
      polyline(class="st0" points="16.657,15.35 72.414,40.508 128.17,15.35 ")
