#main
  height: auto
  border-top: 5px solid $UBBlue
  z-index: 1
  padding: 100px 0
  @media screen and (max-width: $breakSmall)
    padding: 0 0 50px

  .introduction
    text-align: center

  #summary
    padding: 50px 150px 50px
    @media screen and (max-width: $breakSmall)
      padding: 20px
    h3
      font-size: 1.9rem
    p
      font-size: 1rem
    &:hover
      .highlight
        animation: changeColor 4s ease infinite

  #infographics
    padding: 50px 0 90px
    height: auto
    width: 100%
    margin: 0
    .infographic
      height: 280px
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      @media screen and (max-width: $breakXXSmall)
        height: 180px
      &__icon
        width: 150px
        height: 150px
        border-radius: 50%
        background: $UBBlue
        display: flex
        justify-content: center
        align-items: center
        img:hover
          cursor: default
      &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4)
        .infographic__icon
          background: none
          img
            width: 90px
            height: 90px
            @media screen and (max-width: $breakXXSmall)
              width: 60px
              height: 60px
        .infographic__text
          padding-top: 10px

      &__text
        color: $PutnamGray
        padding: 35px 20px
        text-align: center
        height: auto
        font-size: 1rem
        @media screen and (max-width: $breakMedium)
          padding: 35px 50px
        @media screen and (max-width: $breakSmall)
          padding: 20px 5px

@keyframes changeColor
  0%
    color: $LetchworthAutumn
  25%
    color: $SolarStrand
  50%
    color: $LakeLaSalle
  75%
    color: $UBBlue
  100%
    color: $LetchworthAutumn
