#main
  height: auto
  border-top: 5px solid $UBBlue
  z-index: 1
  padding: 100px 0
  @media screen and (max-width: $breakSmall)
    padding: 0 0 50px

  .introduction
    text-align: center

  #summary
    padding: 50px 150px 50px
    @media screen and (max-width: $breakSmall)
      padding: 50px 50px
    p
      font-size: 15px

  #infographics
    padding: 50px 0 0
    height: auto
    width: 100%
    margin: 0
    .infographic
      height: 300px
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      &__icon
        width: 150px
        height: 150px
        border-radius: 50%
        background: $UBBlue
        display: flex
        justify-content: center
        align-items: center
        img:hover
          cursor: default
      &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4)
        .infographic__icon
          background: none
          img
            width: 90px
            height: 90px
        .infographic__text
          padding-top: 20px

      &__text
        color: $PutnamGray
        padding: 50px 20px
        text-align: center
        height: 150px
        font-size: 16px

#nav-anchor
  height: 50px
