.grid
  .row
    width: 100%
    margin: 0
  #navigation
    .first-half, .second-half
      padding: 0
    .first-half .row .box
      &:nth-of-type(2) .view-expand
        margin-left: -100%
    .second-half .row .box
      &:nth-of-type(1) .view-expand
        margin-left: -200%
        @media screen and (max-width: $breakSmall)
          margin-left: 0
      &:nth-of-type(2) .view-expand
        margin-left: -300%
        @media screen and (max-width: $breakSmall)
          margin-left: -100%

  .box
    color: white
    font-size: 2em
    padding: 0
    &.about .view
      background: $LetchworthAutumn
    &.staff .view
      background: $SolarStrand
    &.sas .view
      background: $LakeLaSalle
    &.finish-in-4 .view
      background: $UBBlue
    .view
      display: block
      overflow: hidden
      &__inner, &__inner--hovered
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        height: inherit
        padding: 10%
        text-align: center
        transition: transform .3s cubic-bezier(.81,.01,.23,.99), opacity .1s ease-in-out
      &__inner--hovered
        opacity: 0
        transform: translateY(100%)
        font-size: .5em
    .view-expand
      overflow: hidden
      max-height: 0
      width: 400%
      color: $PutnamGray
      transition: max-height .3s ease
      font-size: 15px
      @media screen and (max-width: $breakSmall)
        width: 200%
      &.three-cols
        width: 133.4%
      .close
        position: absolute
        top: 30px
        right: 20px
        display: none

    &.is-expanded
      margin-bottom: $viewExpandGap
      .view
        &:hover
          cursor: pointer
        &__inner--hovered
          height: 0
          padding-top: 0
          padding-bottom: 0
      .arrow
        display: block
        border-bottom: 8px solid black
        border-left: 8px solid transparent
        border-right: 8px solid transparent
        height: 0
        width: 0
        left: 0
        right: 0
        margin: 0 auto
        position: absolute
      &.about
        .arrow
          border-bottom: 8px solid $LetchworthAutumn
        .close
          color: $LetchworthAutumn
      &.staff
        .arrow
          border-bottom: 8px solid $SolarStrand
        .close
          color: $SolarStrand
      &.sas
        .arrow
          border-bottom: 8px solid $LakeLaSalle
        .close
          color: $LakeLaSalle
      &.finish-in-4
        .arrow
          border-bottom: 8px solid $UBBlue
        .close
          color: $UBBlue
      &.student__heading .arrow
        border-bottom: 8px solid $BairdPoint
      .view-expand
        display: block
        position: relative
        z-index: 1
        max-height: 200%
      .close
        position: absolute
        top: 30px
        right: 20px
        color: $PutnamGray
        opacity: 1
        display: block
        &:hover
          cursor: pointer
          top: 31px
          right: 21px

    &.is-collapsed
      &.about .view:hover
        background: darken($LetchworthAutumn, 5%)
      &.staff .view:hover
        background: darken($SolarStrand, 5%)
        span
          font-size: .7em
      &.sas .view:hover
        background: darken($LakeLaSalle, 3%)
      &.finish-in-4 .view:hover
        background: darken($UBBlue, 5%)
      .view-expand .close
        // display: none
      .view
        &:hover
          cursor: pointer
          .view__inner
            transform: translateY(-100%)
            opacity: 0
          .view__inner--hovered
            transform: translateY(-100%)
            opacity: 1

#about, #staff, #sas, #finish-in-4, #student-story-1, #student-story-2, #student-story-3
  height: 100%
  width: 100%
  padding: 50px
  margin-top: $viewExpandGap
  border: 5px solid
  background: white

#about
  border-color: $LetchworthAutumn
  height: auto
#staff
  border-color: $SolarStrand
  height: 500px
#sas
  border-color: $LakeLaSalle
  height: 400px
#finish-in-4
  border-color: $UBBlue
  height: 800px
#student-story-1
  border-color: $BairdPoint
  height: 500px
#student-story-2
  border-color: $PutnamGray
  height: 500px
#student-story-3
  border-color: $BairdPoint
  height: 500px

#student-profile-1
  .student
    &__photo .view
      background: black
    &__heading
      .view
        background: $BairdPoint
        color: $PutnamGray
      .view-expand
        margin-left: -33.33%

#student-profile-2
  .student
    &__photo .view
      background: black
    &__heading
      .view
        background: $PutnamGray
        color: $BairdPoint
      &.is-expanded .arrow
        border-bottom: 8px solid $PutnamGray

#student-profile-3
  .student
    &__photo .view
      background: black
    &__heading
      .view
        background: $BairdPoint
        color: $PutnamGray
      .view-expand
        margin-left: -33.33%
