.main
  .grid
    .row
      width: 100%
      margin: 0
    .box
      color: white
      font-size: 2em
      padding: 0
      &:nth-of-type(2)
        .view-expand
          margin-left: -100%
      &:nth-of-type(3)
        .view-expand
          margin-left: -200%
      &:nth-of-type(4)
        .view-expand
          margin-left: -300%
      &.about .view
        background: $SolarStrand

      &.is-expanded
        margin-bottom: $viewExpandGap
        .view
  				&:hover
  					cursor: pointer
  				&__inner--hovered
  					height: 0
  					padding: 0
        .arrow
          display: block
          border-bottom: 8px solid black
          border-left: 8px solid transparent
          border-right: 8px solid transparent
          height: 0
          width: 0
          left: 0
          right: 0
          margin: 0 auto
          position: absolute
        &.about
  				.arrow
  					border-bottom: 8px solid #FFC72C
        &.staff
  				.arrow
  					border-bottom: 8px solid #E56A54
        &.sas
  				font-size: 1.7em
  				.arrow
  					border-bottom: 8px solid #00c7B1
        &.finish-in-4
  				.arrow
  					border-bottom: 8px solid #005BBB
        &.student-heading
  				.arrow
  					border-bottom: 8px solid #E1E1E1
        .view-expand
  				display: block
  				position: relative
  				z-index: 1
  				max-height: 550px
        .close
  				position: absolute
  				top: 30px
  				right: 20px
  				color: #666666
  				// font-size: 50px
  				opacity: 1
  				&:hover
  					cursor: pointer
  					top: 31px
  					right: 21px
      &.is-collapsed
        &.about
  				.view:hover
  					background: darken(#FFC72C, 5%)
        &.staff
  				.view:hover
  					background: darken(#E56A54, 5%)
  					span
  						font-size: .7em
        &.sas
  				font-size: 1.7em
  				.view:hover
  					background: darken(#00C7B1, 3%)
  					.view__inner--hovered
  						font-size: .6em
        &.finish-in-4
  				.view:hover
  					background: darken(#005BBB, 5%)
        .view-expand
  				// display: none
  				.close
  					display: none
        .view
  				&:hover
  					cursor: pointer
  					.view__inner
  						transform: translateY(-100%)
  						opacity: 0
  					.view__inner--hovered
  						transform: translateY(-100%)
  						opacity: 1

      .view
        display: block
        // height: 100%
        overflow: hidden
        // &:hover
        //   cursor: pointer
        &__inner, &__inner--hovered
          display: flex
          flex-direction: column
          align-items: center
          justify-content: center
          height: inherit
          padding: 10%
          text-align: center
          transition: transform .3s cubic-bezier(.81,.01,.23,.99), opacity .1s ease-in-out
        &__inner--hovered
          // display: none
          opacity: 0
          transform: translateY(100%)
          font-size: .5em
  		.view-expand
  			overflow: hidden
  			max-height: 0
  			width: 400%
  			color: #666666
  			transition: max-height .3s ease
  			&.three-cols
  				width: 133.4%
