header
  height: 100vh
  display: flex
  flex-direction: column
  @media screen and (max-width: $breakSmall)
    height: 70vh
  .header
    height: 30%
    display: flex
    flex-direction: column
    justify-content: center
    padding-left: 5%
    &__logo
      margin: 20px 0
      @media screen and (max-width: $breakSmall)
        margin: 10px 0
      img
        width: 250px
        height: auto
        @media screen and (max-width: $breakSmall)
          width: 166.66px
          height: auto
    &__title
      font-family: 'Sofia Pro UltraLight', sans-serif
      font-size: 2rem
      // img
      //   width: 400px
      //   height: auto
      //   @media screen and (max-width: $siteLogoBreak)
      //     width: 266.66px
      //     height: auto
    .fade-elem
      transition: all .3s ease-in-out
      opacity: 0
      // transform: translateX(-100%)
      &.fade-in
        opacity: 1
        // transform: translateX(0)
  .color-accent
  	height: 20px
  	border-bottom: 5px solid $UBBlue
  	display: flex
  	flex-direction: row
  	width: 100%
  	div
  		height: 100%
  		&:nth-child(1)
  			width: 13%
  			background: $LetchworthAutumn
  		&:nth-child(2)
  			width: 13%
  			background: $SolarStrand
  		&:nth-child(3)
  			width: 13%
  			background: $LakeLaSalle
  		&:nth-child(4)
  			width: 61%
  			background: $UBBlue
  .color-accent
    @media screen and (max-width: $breakSmall)
      height: 15px
      div
        &:nth-child(1)
          width: 25%
        &:nth-child(2)
          width: 25%
        &:nth-child(3)
          width: 25%
        &:nth-child(4)
          width: 25%
  #hero
  	height: 70%
  	background:
  		image: url(../img/student-studying.jpg)
  		size: cover
  		attachment: fixed
  		repeat: no-repeat
  		position: center 0
  #hero
    @media screen and (max-width: $breakSmall)
      background-position: 40% -160px
  .tagline
    width: 90%
    position: absolute
    top: 40%
    display: flex
    flex-direction: row
    justify-content: start
    align-items: center
    margin-left: 10%
    img
      &:hover
        cursor: default
      &:nth-child(1)
        width: 50%
        height: auto
        margin-right: 2%
      &:nth-child(2)
        width: 30%
        height: auto
    @media screen and (max-width: $breakSmall)
      flex-direction: column
      width: 100%
      margin-left: 0
    &.fade-elem
      transition: opacity .3s ease-in-out .2s
      opacity: 0
      &.fade-in
        opacity: 1

  .fade-elem
    transition: opacity .5s ease-in-out
    opacity: 0
    &.fade-in
      opacity: 1
