header
  height: 100vh
  display: flex
  flex-direction: column
  .header
    height: 30vh
    display: flex
    flex-direction: column
    justify-content: center
    padding-left: 5%
    &__logo
      margin: 20px 0
      @media screen and (max-width: $siteLogoBreak)
        margin: 10px 0
      img
        width: 250px
        height: auto
        @media screen and (max-width: $siteLogoBreak)
          width: 166.66px
          height: auto
    &__title
      img
        width: 400px
        height: auto
        @media screen and (max-width: $siteLogoBreak)
          width: 266.66px
          height: auto
  .color-accent
  	height: 20px
  	border-bottom: 5px solid $UBBlue
  	display: flex
  	flex-direction: row
  	width: 100%
  	div
  		height: 100%
  		&:nth-child(1)
  			width: 10%
  			background: $LetchworthAutumn
  		&:nth-child(2)
  			width: 10%
  			background: $SolarStrand
  		&:nth-child(3)
  			width: 10%
  			background: $LakeLaSalle
  		&:nth-child(4)
  			width: 70%
  			background: $UBBlue
  .hero
  	height: 70vh
  	background:
  		image: url(http://www.acsu.buffalo.edu/~zhanhuil/assets/images/student-studying.jpg)
  		size: cover
  		attachment: fixed
  		repeat: no-repeat
  		position: center 0
  	filter: blur(5px)
  .tagline
    width: 90%
    position: absolute
    top: 45%
    display: flex
    flex-direction: row
    justify-content: start
    align-items: center
    margin-left: 10%
    img
      &:hover
        cursor: default
      &:nth-child(1)
        width: 50%
        height: auto
        margin-right: 2%
      &:nth-child(2)
        width: 30%
        height: auto
    @media screen and (max-width: $breakSmall)
      flex-direction: column
      width: 100%
      margin-left: 0
