$breakMedium: 991px
$breakSmall: 767px
$breakXSmall: 600px
$breakXXSmall: 482px
$breakVerySmall: 380px
$siteLogoBreak: 500px

$viewExpandGap: 8px

$UBBlue: #005bbb
$LetchworthAutumn: #e56a54
$SolarStrand: #ffc72c
$LakeLaSalle: #00c7b1
$PutnamGray: #666666
$BairdPoint: #e1e1e1
$VictorEBlue: #41b6e6

// FONTS
@font-face
	font-family: 'Freeland'
	src: url(../fonts/Freeland.woff)

@font-face
	font-family: 'Sofia Pro'
	src: url(../fonts/SofiaWebRegular.woff)

@font-face
	font-family: 'Sofia Pro Medium'
	src: url(../fonts/SofiaWebMedium.woff)

@font-face
	font-family: 'Sofia Pro Light'
	src: url(../fonts/SofiaWebLight.woff)

@font-face
	font-family: 'Sofia Pro Extra Light'
	src: url(../fonts/SofiaProExtraLight.otf)

@font-face
	font-family: 'Sofia Pro UltraLight'
	src: url(../fonts/SofiaProUltraLight.otf)

@font-face
	font-family: 'More Pro Book'
	src: url(../fonts/MoreWebBook.woff)

@font-face
	font-family: 'More Pro Bold'
	src: url(../fonts/MoreWebBold.woff)
