@import 'vars'
@import 'header'
@import 'body'
@import 'grid'
@import 'vendor/bootstrap.min.css'

html
  font-size: 16px
  @media screen and (max-width: $breakMedium)
    font-size: 13px
  @media screen and (max-width: $breakSmall)
    font-size: 10px

body
  margin: 0
  padding: 0
  font-family: 'Sofia Pro', sans-serif
  color: $PutnamGray

img:hover
  cursor: pointer
img.nohover
  cursor: default

a
  cursor: pointer
  color: $UBBlue
  text-decoration: underline
  &:hover
    color: darken($UBBlue, 10%)
    text-decoration: none

footer
  background: $BairdPoint
  height: auto
  padding: 100px 0
  overflow: hidden
  font-size: 1rem
  @media screen and (max-width: $breakXXSmall)
    padding: 50px 0
  .contact-info
    // border: 1px solid black
    .address, .contact
      margin: 15px 0 0 60px
      @media screen and (max-width: $breakXXSmall)
        margin: 10px 0 0 48px
    p
      margin: 0
      i.material-icons
        font-size: 16px

  .related-links
    @media screen and (max-width: $breakMedium)
      margin: 30px 0 0 60px
    @media screen and (max-width: $breakXXSmall)
      margin-left: 48px

  .legal-notice
    border-top: 1px solid $PutnamGray
    text-align: right
    padding: 30px 0 0
    margin-top: 50px

  img.unit-lockup
    width: 350px
    height: auto
    @media screen and (max-width: $breakXXSmall)
      width: 280px

  p
    margin: 8px
