html
  head
    // meta tags
    // link tags
    link(href="css/main.css" rel="stylesheet")
  body
    include ../_includes/header.pug
    include ../_includes/body.pug
    include ../_includes/footer.pug
