html
  head
    title Student Success and Retention | University at Buffalo, State University of New York
    // meta tags
    meta(name="description" content="The Student Success and Retention team helps students define goals and gain the skills needed to be successful at UB and beyond.")
    meta(name="keywords" content="student success, succeed in college, progress toward degree, graduate in four years, finish in four, academic plan")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    // link tags
    link(href="css/main.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
  body
    include ../_includes/header.pug
    include ../_includes/body.pug
    include ../_includes/footer.pug

    // scripts
    script(src="js/main.js")
