html
  head
    // meta tags
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    // link tags
    link(href="css/main.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
  body
    include ../_includes/header.pug
    include ../_includes/body.pug
    include ../_includes/footer.pug

    // scripts
    script(src="js/main.js")
